<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ClientId</key>
    <string>0R1BFzRheHX8bvGKQSfe9qOsjUDVArKM</string>
    <key>Domain</key>
    <string>dev-ofbqyznhwm7jmv03.us.auth0.com</string>
</dict>
</plist>
<plist version="1.0">

